@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #d48bd6b1, #7e44a5);
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.search {
  position: relative;
  height: 100%;
  width: 40%;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  height: 60px;
  width: 60px;
  transition: width 500ms ease;
  visibility: hidden;
  position: absolute;
  top: 45%;
  left: 40%;
}

.btn {
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 45%;
  left: 40%;
  transition: transform 500ms ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
  visibility: visible;
  padding: 0 1em;
}

.search.active .btn {
  transform: translateX(198px);
  border-radius: 0;
}

.btn i {
  color: #9450c1;
}

.quote-container {
  height: 100vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-card {
  background: transparent;
  max-width: 55%;
  height: fit-content;
  width: fit-content;
  min-height: 45%;
  padding: 10% 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3c1b53;
  box-shadow: none;
  transition: all 500ms ease 250ms;
}

.quote-card.visible {
  background: #e2ade477;
  box-shadow: -13px 0px 16px 15px #e2ade477;
}

.quote-card .quote {
  font-size: 30px;
  text-transform: lowercase;
  visibility: hidden;
  transition: all 500ms ease;
}

.quote-card.visible .quote {
  visibility: visible;
}

.quote-card .author {
  font-style: italic;
}
