@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #d48bd6b1, #7e44a5);
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.search {
  position: relative;
  height: 100%;
  width: 40%;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  height: 60px;
  width: 60px;
  transition: width 0.3s ease;
  visibility: hidden;
  position: absolute;
  top: 45%;
  left: 40%;
}

.btn {
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 45%;
  left: 40%;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
  visibility: visible;
  padding: 0 1em;
}

.search.active .btn {
  transform: translateX(198px);
  border-radius: 0;
}

.btn i {
  color: #9450c1;
}

.quote-container {
  height: 100vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-card {
  background-color: #e2ade477;
  width: 50%;
  height: 40%;
  padding:10% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #3c1b53;
  box-shadow: -13px 0px 16px 15px #e2ade477;
}

.quote-card .quote {
  font-size: 32px;
  text-transform: lowercase;
}

.quote-card .author {
  font-style: italic;
}
